html,
body {
  font-size: 14pt;
}

* {
  box-sizing: border-box;
}

.footer {
  display: flex;
  flex: 1;
  padding: 1rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.title-font {
  font-family: Barlow, Source Sans Pro, Helvetica Neue, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, sans-serif;
}

.title-font-condensed {
  font-family: Barlow Condensed, Barlow, Source Sans Pro, Helvetica Neue, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, sans-serif;
}

.display-size {
  font-size: 48pt;
}

.title-size {
  font-size: 32pt;
}

.caption-size {
  font-size: 12pt;
}

.glow-text {
  text-shadow: 0 0 2px #5a5a5a;
}

.highlight {
  color: #2f94d7;
}

.landing {
  background-size: cover;
  background-position: center;
  height: 100%;
}

.page-header {
  height: 25vh;
}