@font-face {
  font-family: "OspDin";
  src: url("../public/fonts/OSP-DIN.ttf");
}
@font-face {
  font-family: "HattoriHanzo";
  src: url("../public/fonts/Hattori_Hanzo.otf");
}
@font-face {
  font-family: "HattoriHanzo";
  src: url("../public/fonts/Hattori_Hanzo_Italic.otf");
  font-style: italic;
}

html,
body {
  font-size: 14pt;
}

* {
  box-sizing: border-box;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.title-font {
  font-family: OspDin, Helvetica Neue, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, sans-serif;
}